{% extends 'musicapp/base.html' %}
{% block title %}Add a New Album{% endblock %}

{% block album_head %}active{% endblock %}
{% block content %}

<div class="container-fluid">

    
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-offset-2 ">
                               <h3>Add a New Album</h3> 
                            </div>
                    
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'musicapp/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


</div>
{% endblock %}
