<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title%}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'musicapp/style.css' %}" />
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" id="special_text">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
       <a class="navbar-brand" href="{% url 'index' %}" >Synchronicity</a>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="{% block album_head %}{%endblock%}"><a href="{% url 'index' %}"><span class="glyphicon glyphicon-th-list"></span> Albums</a></li>
        
        <li class="{% block song_head %}{%endblock%}"><a href="{% url 'index_song' %}"><span class="glyphicon glyphicon-music"></span> Songs</a></li>
        
        
        <form class="navbar-form navbar-left" action="{% url 'search_song' %}" method="get">
        {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Songs" name="song_title" value={{query}}>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'add_album' %}"><span class="glyphicon glyphicon-plus"></span> Add Album</a></li>
        <li><a href="{% url 'logout_user' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
{% block content %}
{% endblock %}

</body>
</html>
