{% extends 'musicapp/base.html' %}
{% block title%}favourites{% endblock %}
{% block content %}

<h1> Here are your favourite songs for this Album</h1>

<ul>
{%for song in songs%}

{%if song.is_favourite %}
<li><h2>{{song.song_title}}  -  {{song.file_type}}</h2></li>
{%endif%}

{%endfor%}
</ul>
{% endblock %} 
