{% extends 'musicapp/base.html' %}
{% block title %}Details{% endblock %}
{% block song_head %}active{% endblock %}
{% block content %}

<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    
                    <a href="{% url 'details' album.id %}">
                        {% if album.album_logo%}
                        <img src="{{album.album_logo.url}}" class="img-responsive" >
                            {% else %}
                            <h3>No image to display</h3>
                            {%endif%}
                        
                    </a>
                    

                    <h1>{{ album.album_title }}</h1> 
                    <h1><small>Genre : {{ album.genre }}</small></h1>
                    <div class="row">
                    <div class="col-md-9">
                    </h2><b>Artist : {{ album.artist }}</b></h2>
                    </div>
                    <div class="col-md-3">
                    <a  href="{% url 'update_album' album.id %}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-pencil"></span>&nbsp; Edit
                                        </button>
                                    </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            
               <p align="center"><a href="{% url 'add_song' %}"><button type="button" class="btn btn-success btn-md">
                                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Add New Song
                                        </button> </a></p>
            

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Songs</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Audio File</th>
                            
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in album.song_set.all %}
                            <tr>
                                <td><h4>{{ song.song_title }}</h4></td>
                                <td>
                                    <a  href="{{ song.file.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
                                
                                <td>
                                    <form action="{% url 'delete_song' song.pk %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span> Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
