{% extends 'musicapp/base.html' %}
{% block title%}song details{% endblock %}
{% block content %}
<h1> Here are the songs of this album </h1>

<ol>
{%for song in songs%}
<li><h2>{{song.song_title}}</h2></li>
{%endfor%}
</ol>

<h2 align="center"><a href="{%url 'details_favourite' album.id%}">favourites</a></h2>
<h2 align="center"><a href="{%url 'favourite_form' album.id%}">Add favourite songs</a></h2>
{% endblock %} 
