{% extends 'musicapp/base.html' %}
{% block title%}form{% endblock %}
{% block content %}

<div class="container">
  <h2>Select your favourite songs</h2>
  
  <form action="{%url 'favourite_form_update' album.id%}" method="post">
  {%csrf_token%}
  {%for song in songs%}
    <div class="radio">
      <label><input type="radio" id="song{{forloop.counter}}" name="song" value="{{song.id}}" />{{song.song_title}}</label>
    </div>
    {%endfor%}
  
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %} 

