{% extends 'musicapp/base.html' %}
{% block title %}Albums{% endblock %}
{% block album_head %}active{% endblock %}
{% block content %}

<div class="albums-container container-fluid">
<h2 align="center">{% if albums%}Your Albums{%else%}You have no albums to show{%endif%}</h2>

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            
        </div>
        {% if albums %}
            {% for album in albums %}
                <div class="col-sm-12 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'details' album.id %}">
                            <img src="{{album.album_logo.url}}" class="img-responsive"><!--album_logo.url gives us the file path to the stored image/file -->
                        </a>
                        <div class="caption">

                        

                        <h3>{{ album.album_title }}</h3>
                            <h4>{{ album.artist }}</h4>

            
                       
                            
                            <!-- View Details -->
                            <a href="{% url 'details' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Album -->
                            <form action="{% url 'delete_album' album.pk %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="{{ album.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>

                            <!--  
                            <a href" class="btn btn-default btn-sm btn-favorite" role="button">
                                <span class="glyphicon glyphicon-star"></span>
                            </a>
                            -->

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'add_album' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}