{% extends 'musicapp/base.html' %}
{% block title %}Songs{% endblock %}
{% block song_head %}active{% endblock %}
{% block content %}


<div class="container-fluid songs-container">
<h2 align="center">{% if Songs%}Your Songs{%else%}You have no songs to show{%endif%}</h2>
{% if Songs%}

    <div class="row">
    <div class="col-sm-10 col-md-12">
           <div class="panel panel-default">
                <div class="panel-body">

                    

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Audio File</th>
                            
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in Songs %}
                            <tr>
                                <td>{{ song.song_title }}</td>
                                <td>
                                    <a  href="{{ song.file.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
                             <!--   <td>

                                   <a href="#" class=" btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                </td> -->
                                <td>
                                    <form action="{% url 'delete_song' song.pk %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span> Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>
{% else %}
<p align="center"><a href="{% url 'add_song' %}"><button type="button" class="btn btn-success btn-md">
                                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Add New Song
                                        </button> </a></p>
 {% endif %}                                       

{% endblock %}
